input {
    border-radius: 0px;
}

.input-top {
    position: absolute;
    z-index: 10;
    background-color: aqua;
    opacity: .0;
    width: 4vw;
    height: 5vh;
}

.level-0 input {
    top: 4vh;
}

.level-1 input {
    top: 9.6vh;
}

#parametric {
    left: 17vw;
}

#function {
    left: 21vw;
}

#polar {
    left: 25vw;
}

#input {
    width: 41vw;
    left: 29.45vw;
    text-align: center;
    font-size: 3vh;
    opacity: 1;
    background-color: transparent;
    border: none;
}

#points {
    left: 71vw;
}

#line {
    left: 75vw;
}

#clear {
    left: 79vw;
}

.input-side {
    position: absolute;
    z-index: 10;
    background-color: green;
    opacity: .0;
    width: 11vw;
    height: 5vh;
}

.left input {
    left: 1.75vw;
}

.right input {
    left: 87vw;
}

#side-1 {
    top: 24vh;
}

#side-2 {
    top: 30.4vh;
}

#side-3 {
    top: 36.8vh;
}

#side-4 {
    top: 43.2vh;
}

#side-5 {
    top: 49.6vh;
}

#side-6 {
    top: 56vh;
}

#side-7 {
    top: 62.4vh;
}

#side-8 {
    top: 68.8vh;
}

.input-bottom {
    position: absolute;
    z-index: 10;
    background-color: rgb(255, 255, 0);
    opacity: .0;
    width: 6vw;
    height: 5vh;
}

.all-pages input {
    top: 84vh;
    height: 10.5vh;
    width: 7vw;
}

#previous {
    left: 16.25vw;
}

#next {
    left: 76.75vw;
}

.level-10 input {
    top: 84vh;
}

.level-11 input {
    top: 90vh;
}

#reset-transformations {
    left: 44vw;
    width: 12vw;
}

#up-arrow {
    left: 44vw;
}

#down-arrow {
    left: 50vw;
}

#left-arrow {
    left: 37.5vw;
    height: 10.5vh;
}

#right-arrow {
    left: 56.5vw;
    height: 10.5vh;
}

#scale {
    left: 30.5vw;
}

#dots {
    left: 24vw;
}

#min-x {
    left: 63.5vw;
}

#max-x {
    left: 70vw;
}