.input-top {
    position: absolute;
    z-index: 10;
    background-color: aqua;
    opacity: .0;
    width: 4vw;
    height: 5vh;
}

.level-0 input {
    top: 4vh;
}

.level-1 input {
    top: 9.6vh;
}

#parametric {
    left: 17vw;
}

#function {
    left: 21vw;
}

#polar {
    left: 25vw;
}

#input {
    width: 41vw;
    left: 29.45vw;
    text-align: center;
    font-size: 3vh;
    opacity: 1;
    background-color: transparent;
    border: none;
}

#points {
    left: 71vw;
}

#line {
    left: 75vw;
}

#clear {
    left: 79vw;
}

.input-side {
    position: absolute;
    z-index: 10;
    background-color: green;
    opacity: .0;
    width: 11vw;
    height: 5vh;
}

.left input {
    left: 1.75vw;
}

.right input {
    left: 87vw;
}

#side-1 {
    top: 24vh;
}

#side-2 {
    top: 30.4vh;
}

#side-3 {
    top: 36.8vh;
}

#side-4 {
    top: 43.2vh;
}

#side-5 {
    top: 49.6vh;
}

#side-6 {
    top: 56vh;
}

#side-7 {
    top: 62.4vh;
}

#side-8 {
    top: 68.8vh;
}