html {
    --testing: 0;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
}

a {
    color: rgb(255,81,0);
    text-decoration: none;
}

a:hover {
    color: rgb(0,134,255);
}

img {
    border: .1vw solid rgb(200,200,200);
}

input {
    text-align: center;
    font-size: 1.25vw;
    height: 2vw;
}

/* Containers */

#container-navbar {
    width: 100vw;
    height: 7.5vw;
    position: absolute;
    z-index: 10;
}

#container-footer {
    width: 100vw;
    height: 9vw;
}

/* Spacers */

.space-navbar {
    padding-top: 8vw;
}

.space-20 {
    padding-top: 10vw;
    padding-bottom: 10vw;
}

.space-10 {
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.space-5 {
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
}

.space-2 {
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.space-1 {
    padding-top: .5vw;
    padding-bottom: .5vw;
}

.space--5 {
    padding-top: .25vw;
    padding-bottom: .25vw;
}

/* Margins */

.margin-1 {
    margin: 1vw;
}

/* Page Layout */

#content {
    overflow: hidden;
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin: 0 auto; /* centers projects div */
    width: 90%; /* adds space on both sides */
    max-width: 1080px; /* keeps div from being too wide */
    background-color: rgba(255,0,0,var(--testing));
}

.content-flex {
    background-color: rgba(0,255,255,var(--testing));
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.content-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.content-centered {
    text-align: center;
}

/* Project Boxes */


.project {
    transition: all .2s;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(0,134,255);
    width: 80%;
}

.project:hover {
    margin-bottom: 18px;
    border-bottom: 3px solid rgb(0,134,255);
}

.project a {
    line-height: 1.25vw;
}

.project img {
    width: 250px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(200,200,200);
}

.project-title {
    transition: all .2s;
    font-size: 1.5em;
    margin-bottom: .5vw;
}

.project p {
    font-size: 1em;
    margin-bottom: 3px;
}

/* Blocks */

.page-title {
    text-align: center;
    font-size: 2vw;
    color: rgb(50,50,50);
}

.section-title {
    text-align: left;
    font-size: 1.5vw;
    font-weight: bold;
}

.center-title {
    text-align: center;
    font-size: 1.5vw;
}

.center-text {
    text-align: center;
    font-size: 1vw;
}

.divider {
    margin-top: 10px;
    border-bottom: 1px solid rgb(200,200,200);
    margin-bottom: 10px;
}

.text {
    text-align: left;
    font-size: 1.25vw;
    line-height: 1.5vw;
}

.text-small {
    text-align: left;
    font-size: 1vw;
    line-height: 1.25vw;
}

.text-center {
    text-align: center;
    font-size: 1.25vw;
    line-height: 1.5vw;
}

/* Code Display */
.code-iframe {
    border: 1px solid rgb(200,200,200);
}

.code-iframe iframe {
    resize: vertical;
    height: 80vh;
    min-height: 10vw;
}

.code-iframe-footer {
    display: flex;
    width: 100%;
    height: 1.5vw;
    padding-right: 0.02vw;
    background-color: rgb(225, 225, 225);
}

.code-iframe-footer select {
    appearance: none;
    -webkit-appearance: none;
    width: 15%;
    height: 80%;
    margin-left: .5%;
    margin-top: .15%;
    font-size: 1vw;
    text-align: center;
    background-color: rgb(240,240,240);
    border: none;
}

.code-iframe-footer-title-wide {
    width: 70%;
    height: 80%;
    font-size: 1.25vw;
    text-align: center;
}

.code-iframe-footer-button {
    width: 15%;
    height: 80%;
}

.code-iframe-footer-button input {
    width: 12vw;
    height: 1.2vw;
    font-size: 1vw;
    border: none;
    background-color: rgb(240,240,240);
}

/* Table */
.version-history table {
    border-collapse: collapse;
    width: 100%;
}

.version-history th{
    font-weight: bold;
}

.version-history td, .version-history th{
    border: 1px solid rgb(200,200,200);
    text-align: left;
    font-size: 1vw;
    padding: .5vw;
}

.version-history tr:nth-child(even) {
    background-color: rgb(240,240,240);
}


/* Inputs */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Sketch Holders */

.sketch-holder-small {
    width: 24vw;
    height: 13.5vw;
    border: .0vw solid rgb(0,0,0);
    margin: 0 auto;
}

.sketch-holder-norm {
    overflow: hidden;
    position: relative;
    padding-bottom: 57%; /* 56.25% for 16:9 +.75 extra */
    height: 0;
    border: 1px solid rgb(200,200,200);
}

.sketch-holder-16-11 {
    overflow: hidden;
    position: relative;
    padding-bottom: 68.75%; /* 56.25% for 16:9 +.75 extra */
    height: 0;
    border: 1px solid rgb(200,200,200);
}

.sketch-holder-norm iframe, .sketch-holder-16-11 iframe {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#sketch-holder {

}

.p5Canvas {
    width: 100% !important;
    height: 100% !important;
}

/* Category */
.category-page-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 72vw;
    margin: 0 auto;
}

.category-page-img {
    transition: all .25s;
    width: 22vw;
    border: 1px solid rgb(0,134,255);
    border-radius: 2vw;
    display: flex;
}

.category-page-expanded {
    position: relative;
    top: 1vw;
    z-index: 4;
    width: 20vw;
    height: 10vw;
    transition: opacity .2s;
    opacity: 0;
}

.category-page-img:hover .category-page-expanded {
    opacity: 1;
}

.category-page-img:hover .category-page-title {
    opacity: 0;
}

.category-page-img:hover {
    width: 44vw;
}

.category-page-container img{
    width: 20vw;
    height: 11.25vw;
    padding: 1vw;
}

/* trinket.io */

.trinket {
    width: 100%;
    height: 20vw;
}

.trinket iframe {
    width: 100%;
    height: 100%;
}

.trinket-python {
    display: none;
}

.loading {
    display: block;
}

/* Other */

.code-change-button {
    appearance: none;
    border: 1px solid rgb(155, 155, 155);
    background: rgb(200,200,200);
}