html {
    --testing: 0;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
}

a {
    color: rgb(255,81,0);
    text-decoration: none;
}

a:hover {
    color: rgb(0,134,255);
}

input {
    text-align: center;
    font-size: 1.25vw;
    height: 2vw;
}

/* Containers */

#navbar-container {
    width: 100vw;
    height: 7.5vw;
    position: absolute;
    z-index: 10;
}

#footer-container {
    width: 100vw;
    height: 15vw;
}

/* Spacers */

.navbar-space {
    padding-top: 8vw;
}

.space-10 {
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.space-5 {
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
}

.space-2 {
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.space-1 {
    padding-top: .5vw;
    padding-bottom: .5vw;
}

/* Page Layout */

#content {
    overflow: hidden;
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin: 0 auto; /* centers projects div */
    width: 90%; /* adds space on both sides */
    max-width: 1080px; /* keeps div from being too wide */
    background-color: rgba(255,0,0,var(--testing));
}

.content-flex {
    background-color: rgba(0,255,255,var(--testing));
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.content-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.content-centered {
    text-align: center;
}

/* Project Boxes */


.project {
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(0,134,255);
    width: 80%;
}

.project a {
    line-height: 1.25vw;
}

.project img {
    width: 250px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.project-title {
    font-size: 1.5em;
    margin-bottom: 3px;
}

.project p {
    font-size: 1em;
    margin-bottom: 3px;
}

/* Blocks */

.page-title {
    text-align: center;
    font-size: 2vw;
    color: rgb(50,50,50);
}

.section-title {
    text-align: left;
    font-size: 1.5vw;
    font-weight: bold;
    padding-bottom: 1vw;
}

.center-title {
    text-align: center;
    font-size: 1.5vw;
}

.center-text {
    text-align: center;
    font-size: 1vw;
}

/* Inputs */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Sketch Holders */

.sketch-holder-small {
    width: 24vw;
    height: 13.5vw;
    border: .0vw solid rgb(0,0,0);
    margin: 0 auto;
}