.sketch-inputs button, input{
    background-color: rgb(200, 200, 200);
    padding: 12px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    border: none;
    min-width: 220px;
}

.slider {
    -webkit-appearance: none;
    padding: 0px;
    height: 10px;
    border-radius: 35px;   
    background: rgb(200, 200, 200);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgb(155, 155, 155);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.sketch-inputs p {
    text-align: center;
    min-width: 220px;
    font-size: 2em;
}

.sketch-inputs {
    z-index: 10;
    display: flex;
    justify-content: center;
}

.sketch-inputs button:hover {
    background: rgb(150,150,150);
} 

.sketch-buttons {
    z-index: 10;
}

.mine-buttons {
    z-index: 3;
    opacity: .0;
    background-color: #4CAF50;
    width: 5vw;
    height: 5vw;
    position: absolute;
}

.flag-toggle {
    z-index: 4;
    opacity: .2;
    background-color: #FF00F0;
    width: 4vw;
    height: 4vw;
    position: absolute;
}

#flag-true {
    top: 2vw;
    left: 41vw;
}

#flag-false {
    top: 2vw;
    left: 55vw;
}

#screen {
    z-index: 2;
    opacity: .2;
    background-color: aqua;
    width: 100vw;
    height: 60vh;
    position: absolute;
    top: 10vh;
    left: 0px;
}

#face {
    position: absolute;
    top: 1.5vw;
    left: 47.5vw;
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
}

#tile0 {
    z-index: 1;
    position: absolute;
    top: 500;
    left: 500;
    width: 400px;
}