body {
    font-family: sans-serif;
}

a {
    color: rgb(255,81,0);
}

a:hover {
    color: #00AEFF;
}

iframe {
    border: none;
    overflow: hidden;
}

h1 {
    font-size: 2.5em;
    line-height: 45px;
    text-align: center;
    color: rgb(255,81,0);
}

#main-title {
    text-decoration: none;
}

.clear {
    clear: both;
    margin-bottom: 10px;
}

white {
    background:rgb(255, 255, 255);
    height: 98px;
}

#navigation {
    width: 100%;
    height: 8.5em;
    border: none
}

#projects, #aboutme {
    margin: 0 auto; /* centers projects div */
    width: 90%; /* adds space on both sides */
    max-width: 750px; /* keeps div from being too wide */
}

#projects p {
    color: rgb(50,50,50)
}

#projects a {
    line-height: 30px;
}

.project {
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(0,134,255);
}

.project img, #aboutme img{
    width: 250px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.project h2, #aboutme h2{
    font-size: 1.5em;
    margin-bottom: 3px;
}

p {
    line-height: 20px;
}

.iframe-sketch {
    overflow: hidden;
    position: relative;
    padding-bottom: 57%; /* 56.25% for 16:9 +.75 extra */
    height: 0;
    /* max-width: 1080px; */
}

.iframe-sketch-16-11 {
    overflow: hidden;
    position: relative;
    padding-bottom: 68.75%; /* 56.25% for 16:9 +.75 extra */
    height: 0;
    /* max-width: 1080px; */
    margin-top: 10px;
}

.iframe-sketch iframe, .iframe-sketch-16-11 iframe {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.google-sheet {
    width: 100%;
    height: 24vw;
    margin: 0 auto;
}

.google-sheet iframe {
    overflow: hidden;
}

#content {
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto; /* centers projects div */
    width: 90%; /* adds space on both sides */
    max-width: 1080px; /* keeps div from being too wide */
}

#page-title {
    text-align: center;
    font-size: 2em;
    padding-top: 5px;
    padding-bottom: 15px;
    color: rgb(50,50,50);
}

.download {
    overflow: hidden;
    margin-left: -10px;
}

.download img {
    width: 36px;
    height: 36px;
    float: left;
    position: relative;
    left: 0px;
    top: 0px;
    margin: 0px 15px 0px 15px;
    border: 0px;
}

.download p {
    font-size: 1.2em;
    padding-top: 6px;
}

.divider {
    margin-top: 10px;
    border-bottom: 1px solid rgb(200,200,200);
    margin-bottom: 10px;
}

.title {
    text-align: left;
    font-size: 1.25em;
    font-weight: bold;
    padding-bottom: 5px;
}

.text {
    text-align: left;
    font-size: 1em;
}

.space-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.space-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.space-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.space-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}


.button {
    background-color: rgb(200, 200, 200);
    padding: 12px;
    font-size: 16px;
    border: none;
    min-width: 180px;
    margin-bottom: 5px;
}

.button:hover {
    background-color: rgb(150,150,150);
}

.button-center {
    display: flex;
    justify-content: center;
}

/* Dropdown Version Selecter Start */

.version-select-btn {
    background-color: rgb(200, 200, 200);
    padding: 4px;
    font-size: 14px;
    border: none;
    min-width: 180px;
    margin-bottom: 5px;
}

.version-select {
    position: relative;
    display: inline-block;
}

.version-select-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.version-select-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.version-select-content a:hover {background-color: #ddd}

.version-select:hover .version-select-content {
    display: block;
}

.version-select:hover .version-select-btn {
    background-color: rgb(150,150,150);
}

/* Dropdown Version Selecter End */

/* Navbar Start */

.category-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid rgb(0,134,255);
}

.nav-btn {
    background-color: rgb(255, 255, 255);
    color: rgb(50,50,50);
    padding: 4px;
    font-size: 14px;
    border: none;
    /* min-width: 180px; */
    min-width: 12vw;
    margin-bottom: 5px;

}

.navbutton {
    display: inline;
}

.navbar {
    position: relative;
    display: inline-block;
}

.navbutton-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    /* min-width: 180px; */
    min-width: 12vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navbutton-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.navbutton-content a:hover {
    background-color: #ddd
}

.navbutton:hover .navbutton-content {
    display: block;
}

.navbutton:hover .nav-btn {
    background-color: rgb(150,150,150);
    
}

.navbutton:hover .navbutton-content {
    display: block;
}

#overlay {
    position: absolute;
    display: block;
    pointer-events: painted;
    width: 100vw;
    height: 0px;
    margin-top: 10px;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}

#overlay iframe {
    width: 100vw;
}



/* Navbar End */
