.sketch-inputs button, input{
    background-color: rgb(200, 200, 200);
    padding: 12px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    border: none;
    min-width: 220px;
}

.slider {
    -webkit-appearance: none;
    padding: 0px;
    height: 10px;
    border-radius: 35px;   
    background: rgb(200, 200, 200);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgb(155, 155, 155);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.sketch-inputs p {
    text-align: center;
    min-width: 220px;
    font-size: 2em;
}

.sketch-inputs {
    display: flex;
    justify-content: center;
}

.sketch-inputs button:hover {
    background: rgb(150,150,150);
}

.tile {
    z-index: 1;
    position: absolute;
    width: 14vw;
    height: 14vw;
    opacity: 0;
}

#tile0 {
    top: 5vw;
    left: 27vw;
}

#tile1 {
    top: 5vw;
    left: 43vw;
}

#tile2 {
    top: 5vw;
    left: 59vw;
}

#tile3 {
    top: 21vw;
    left: 27vw;
}

#tile4 {
    top: 21vw;
    left: 43vw;
}

#tile5 {
    top: 21vw;
    left: 59vw;
}

#tile6 {
    top: 37vw;
    left: 27vw;
}

#tile7 {
    top: 37vw;
    left: 43vw;
}

#tile8 {
    top: 37vw;
    left: 59vw;
}