[submodule "projects/weather"]
	path = projects/weather
	url = https://github.com/kinsaurralde/weather
[submodule "projects/spaceship"]
	path = projects/spaceship
	url = https://github.com/kinsaurralde/spaceship
[submodule "projects/chemistry"]
	path = projects/chemistry
	url = https://github.com/kinsaurralde/chemistry
